.apresentacao{
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: var(--azul100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/vector/vector-branco.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 2rem;
}

.homePage{
    background-image: url('../../assets/vector/vector-azul0.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.logo{
    width: 346px;
    height: 346px;
}
.text1{
    width: 50%;
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Italic;
    font-size: 39px;
    text-align: center;
    color: var(--azul400)
}

.propaganda{
    display: flex;
    justify-content: center;
    padding: 6.25rem;
    gap: 8rem
}
.publicidade{
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 150px;
    height: 150px;
}

.text2{
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: Italic;
    font-size: 32px;
    text-align: center;
    color: var(--azul400)
}

.promocoes{
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.text3{
    font-family: Numans;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--vermelho400)
}

.cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.feedbacks{
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.feedcarrossel{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    width: 772px;
    align-self: center;
    border: none;
    background-color: var(--azul200);
    color: var(--branco);
    padding: 1.5rem;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}