/* Fontes importadas: Montserrat, Numans, Nunito Sans, Playbal, Roboto Serif e Inter */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playball&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --preto: #171717;
    --branco: #FCF7F8;
    --cinza0: #F5F8FF;
    --cinza100: #CED3DC;
    --cinza200: #A4A8B0;
    --cinza300: #87888B;
    --cinza400: #5F6165;
    --azul0: #97C3D8;
    --azul100: #72A8C1;
    --azul200: #4E8098;
    --azul300: #3E677A;
    --azul400: #274553;
    --vermelho0: #ED8E96;
    --vermelho100: #E06A73;
    --vermelho200: #B82935;
    --vermelho300: #A31621;
    --vermelho400: #74010B;
    --vermelho500: #3E0005;
}