.footerContainer {
    background-color: var(--branco);
    height: 40vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}
.mainFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.textInfoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.addressDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.addressTitle {
    color: var(--azul200);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 4%;
}
.textDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text {
    color: var(--azul400);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5%;
}
.contactUsDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contactUs {
    color: var(--azul200);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 4%;
}
.email {
    color: var(--azul400);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5%;
}
.linksDiv {
    display: flex;
    align-items: center;
    /* gap: 15px; */
}
.instagramLink,
.facebookLink,
.linkedinLink {
    outline: none;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    border-radius: 4px;
    transition:
        background-color 0.2s ease-in-out,
        border 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:focus-visible {
        border: 3px solid var(--vermelho200);
        background-color: var(--vermelho0);
    }
}
.facebookLink,
.linkedinLink {
    width: 30px;
    height: 32px;
}
.iframeDiv {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.iframe {
    outline: none;
    width: 340px;
    height: 280px;
    box-shadow: 8px 8px 16px 0px #00000040;
}
.copyrightText {
    background-color: var(--azul300);
    width: 100%;
    min-height: 12%;
    place-content: center;
    text-align: center;
    color: var(--azul0);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5%;
}